asgiref>=3.7.0
certifi
charset-normalizer
cloudinary>=1.36.0
dj-database-url>=2.1.0
Django>=4.2,<5.0
django-cloudinary-storage>=0.3.0
gunicorn
idna
Pillow>=10.0.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
requests
sqlparse
tzdata
urllib3
whitenoise>=6.5.0
